body{
    width:100vw;
    background-color:$darkgrey;

}
.navbarr{
    display: flex;
    justify-content: center;
    width:100%;
}
.landing-bg{
    background-color:$darkgrey;
}
.whiteFont{
    color:$white;
}
.purpleFont{
    color:$purple;
}